header {
    background-color: beige;
    color:#333; 
    padding:20px;  
    border-bottom: 2px solid maroon;
}

#nav {
    list-style-type :none;
    text-align:right;
}

#nav ul li a{
    padding:10px;
}



h1 {
    font-size:30px;
    text-align: left;
}

h2 {
    font-size:25px;
    text-align: center;
}

ul {
    list-style-type: none;

}
    ul ul {
    width:600px;
    font-size: 30px;
    text-align: center;
    border: 1px solid #333;
    margin: auto;
}

ul ul li {
    margin-top: 20px;
}
  
 ul ul li {
      text-align:center;
      margin-bottom: 20px;
  }
form {
    padding:20px;
    border: 1px solid #ccc;
    margin:auto;
    width:600px;
}
  input, textarea, select, button {
    width : 250px;
    padding: 0;
    margin: 10px 0 10px 200px;
    box-sizing: border-box;
  
  }
  label {
    text-align: right;
    width: 200px;
    position:left;
  }
  form textarea {

  }
  .btn {
    background-color:aquamarine;
    color: #333;
    margin-top: 50px;
  }