<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{{ title }} - Upcoming Events</title>
    </head>
    <body>
        <header>
            <h1>Upcoming Events Web App</h1>
            <ul id="nav">
                <li><a href="/events">Upcoming Events Page</a></li>
                <li><a href="/events/new">Add New Event</a></li>
            </ul>
        </header>
        
        {% block content %}

        {% endblock %}

    </body>
</html>
</head>