{% extends "base.html" %}

{% block content %}

<h2>Events</h2>



<div>
    <ul>
        <li>
            
        {% for event in events %}

            <ul>
                <li class="ev_title">{{ event.title }}</li>
                <li class="ev_date">{{ event.date }}</li>
                <li class="ev_loc">Venue:  {{ event.location }}</li>
                <li class="ev_desc">{{ event.description }}</li>
                <li class="ev_capa">Max Capacity: {{ event.capacity }}</li>
            </ul>

        {% endfor %}

        </li>
    </ul>
 
</div>

{% endblock %}